body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	 
}
h6,
h5,
h4,
h3,
h2,
h1 {
font-family: 'Ubuntu', sans-serif; 
font-weight: 600;
}	

img {width:100px }



font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;

#footer {background-color:blue;color:#fff} 