body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	 
}
h6,
h5,
h4,
h3,
h2,
h1 {
font-family: 'Ubuntu', sans-serif; 
font-weight: 600;
}	

img {width:100px }    



font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;

.navbar-brand img {width:150px}

#footer {background-color:blue;color:#fff}

#lowerfooter {background-color:darkblue;} 

#lowerfooter i {font-size:25px;color:#fff;margin:10px }

#products {background-color:blue;color:#fff}

#products i {font-size:35px;color:#fff;margin:100px 50px opx 50px}